Sphinx
pydata-sphinx-theme
sphinx-gallery
sphinx-pyproject
sphinx-needs
sphinx-test-reports
sphinxcontrib-plantuml
seed-intersphinx-mapping
myst-parser
sphinxext-rediraffe
sphinx-sitemap
sphinx-design
sphinx-copybutton
scipy
numba