
Input.-valid {
    border: tall $success 60%;
}
Input.-valid:focus {
    border: tall $success;
}
Label {
    width: 40;
    height: 1;
}
Input, Select {
    width: 40;
    height: 3;
}
.maxheight {
    height: 4;
}
